body {
    color: #333;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(109, 109, 109);
    margin: 0 auto;
}

#cabecera {
   background: rgb(41, 69, 73);
   box-shadow: 0px 8px 19px -5px rgba(0,0,0,0.75);
   color: white;
   font-weight: bold;
   margin: 0;
   padding: 0.5em;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#conatine h1 {
    font-size: 20px;
    
}

#post {
    padding: 1em;

}