body {
    color: #333;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(109, 109, 109);
    margin: 0 auto;
}

#conatine h1 {
    font-size: 20px;
    
}